body
  background-color #797979
  min-width 320px
  min-height 100vh
  font-family: PT Sans, sans-serif
  font-size 16px
.link
  position relative
  color blue
  text-decoration none
  &::after
    content ''
    position absolute
    bottom 2px
    left 0
    width 100%
    border-top 1px solid blue
  &:hover
  &:focus
    opacity .8
.container
  max-width 1000px
  height 100%
  min-height 100vh
  margin 0 auto
  padding 70px 115px
  background-color bg_img_color
  background-image url('/assets/images/bg.jpg')
  background-repeat repeat
.secret
  position absolute
  top -30px
  right -60px
.case
  margin 50px 0
  text-align center
.form
  &__title
    font-size 24px
    color brown
    font-weight bold
    margin-bottom 10px
  &__text
    font-size 15px
    color grey
    line-height 1.5
    margin-bottom 1em
  &__group
    margin-bottom 50px
  &__input
    display flex
    align-items flex-end
    &:not(:last-child)
      margin-bottom 2em
  &__checkbox-wrapper
    display flex
    flex-flow raw wrap
  &__checkbox-group
    display flex
    flex-direction column
    width 33.33%
    min-width 250px
  &__checkbox
    margin-bottom 10px
    & > input[type="checkbox"]:checked + .label--checkbox::after
      content ''
      position absolute
      width 20px
      height 20px
      top -10px
      left 4px
      sprite $check
  &__radio-group
    display flex
    flex-flow raw wrap
  &__radio
    margin-bottom 10px
    & > input[type="radio"]:checked + .label--radio::after
      content ''
      position absolute
      width 20px
      height 20px
      top 4px
      left 7px
      sprite $radio_check
.textarea
  flex-grow 1
  display inline
  position relative
  width 100%
  font-family: Courier New, sans-serif
  font-size 30px
  color not_black
  background-repeat repeat-x
  background-position 0 31px
  background-image url('/assets/images/line.png')
  line-height 1.6
.label
  position relative
  font-weight bold
  font-size 22px
  color brown
  margin-right 20px
  cursor pointer
  user-select none
  &--checkbox
    display inline-block
    font-size 21px
    color #000
    padding-left 30px
    &::before
      content ''
      position absolute
      width 20px
      height 20px
      left 0
      sprite $checkbox
  &--radio
    display inline-block
    font-size 21px
    color #000
    padding-left 30px
    &::before
      content ''
      position absolute
      width 20px
      height 20px
      top -3px
      left 0
      sprite $radio
.input
  position relative
  padding-left 10px
  padding-bottom 5px
  background-color transparent
  border none
  width: 100%
  font-family: Courier New, sans-serif
  font-size 30px
  color not_black
  &__wrapper
    flex-grow 1
    position relative
    &::after
      content ''
      position absolute
      left 0
      bottom 0
      width 100% !important
      sprite $line
    &--date
      flex-grow 0
      width 210px
.range
  position relative
  &__progress
    position relative
    width 100% !important
    margin 40px 0 30px
    sprite $progress
  &__labels
    display flex
    justify-content space-between
  &__point
    position relative
    font-size 13px
    font-weight bold
    color brown
    &:not(:first-child)
      margin-left 10px
    &::before
      content: ''
      display block
      position absolute
      top -33px
      left 0
      width 2px
      height 11px
      background-color brown
    &:first-child
    &:last-child
      &::before
        height 22px
    &:last-child
      &::before
        left auto
        right 0
  &__handle
    position absolute
    top -15px
    left -5px
    sprite $arrow_down
    cursor pointer
input[type="range"]
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
  display none
