@media (max-width : 900px)
  .container
    padding 40px 30px
  .secret
    right -10px
  .form__input
    flex-direction column
    align-items flex-start
  .input__wrapper
    width 100%
    margin-top 10px
  .input__wrapper--date
    width 210px
@media (max-width : 600px)
  .container
    padding 20px 15px
  .header
    flex-direction column
    text-align center
  .secret
    display block
    position relative
    top 0
    right 0
    margin 0 auto
    margin-top 20px
  .input
    font-size 22px
    padding-left 0
    text-overflow ellipsis
  .textarea
    font-size 22px
    background-position 0 21px
  .input__wrapper--date
    width 135px
  .range__point:last-child
    text-align right
