extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/input/input
include /blocks/checkbox/checkbox
include /blocks/radio/radio
include /blocks/date/date

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	.container
		+header
		.case
			img(src="/assets/images/case.png" alt="Дело")
		form.form(action="")
			.form__group
				+input('text', 'name', 'Высоцкий Даниил Никитич', 'Полное ФИО')
				+input('text', 'birth', '1988', 'Год рождения')
				+input('text', 'live', 'г. Москва, Россия', 'Место жительства')
				+input('text', 'skype', 'cherezzabo', 'Скайп')
				+input('email', 'email', 'cherezzabo@gmail.com', 'Почта')
						
			.form__group
				h2.form__title Расскажите о себе чекбоксами
				p.form__text Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
				.form__checkbox-wrapper
					.form__checkbox-group
						+checkbox('bem', 'БЭМ/OOCSS', 'checked')
						+checkbox('pug', 'Pug (Jade)', 'checked')
						+checkbox('prepro', 'Stylus/LESS/SASS', 'checked')
						+checkbox('svg', 'Работаю с SVG', 'checked')
						+checkbox('semantics', 'Верстаю семантично', 'checked')
						+checkbox('accessibility', 'Accessibility (A11Y)', 'checked')
						+checkbox('es', 'ES2015/ES2016', 'checked')
					.form__checkbox-group
						+checkbox('gulp', 'Gulp/GRUNT', 'checked')
						+checkbox('webpack', 'Webpack')
						+checkbox('webgl', 'Дружу с WebGL')
						+checkbox('jq', 'jQuery', 'checked')
						+checkbox('angular', 'Знаю/изучаю Angular')
						+checkbox('react', 'Знаю/изучаю React')
						+checkbox('nodejs', 'Знаю/изучаю Node.js')
					.form__checkbox-group
						+checkbox('vue', 'Изучаю Vue.js', 'checked')(style="color: #41B883")
						+checkbox('git', 'Использую Git', 'checked')
						+checkbox('eye', 'С глазомером всё ок', 'checked')
						+checkbox('blog', 'Читаю <a href="http://blog.csssr.ru/" class="link">blog.csssr.ru</a>', 'checked')
						+checkbox('lazy', 'Я ленивый(-ая)')
						+checkbox('english', 'У меня хороший английский', 'checked')
													
			.form__group
				h2.form__title Уровень владения JavaScript
				.form__range
					input(type="range" min="0" max="100" step="1" name="js-level" id="js-level" value="55")
					.range
						.range__handle
						.range__progress
						ul.range__labels
							li.range__point Не владею
							li.range__point Использую готовые решения
							li.range__point Использую готовые решения<br>и умею их переделывать
							li.range__point Пишу сложный JS
			
			.form__group
				h2.form__title Расскажите о себе словами
				p.form__text Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
				input(type="text" id="textarea" value="Прежде всего, меня впечатлил ваш сайт. Потом я заглянул в Console и отозвался на призыв. Ребята, которые так внимательны к деталям - не могут делать фигню. Я тоже не хочу делать фигню. Очень хотелось бы развиваться и перенимать опыт у ребят, которые знают, как делать красиво. =)<br><br>P.S. Автоматическое добавление строк решил средствами одного CSS и HTML. Но очень хотел бы посмотреть пример того, как это можно реализовать на JS.<br><br>P.S.S. Кстати, эта страница адаптивна. ;)" hidden)
				p.textarea(contenteditable="true")
			
			.form__group
				h2.form__title Какие у вас планы на будущее?
				p.form__text Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
				.form__radio-group
					+radio('html', 'future', 'Верстать')
					+radio('js', 'future', 'Прокачиваться в JS', 'checked')
					+radio('manager', 'future', 'Менеджерство')
					+radio('other', 'future', 'Другое')

			+date('text', 'date', '26.07.2017', 'Дата заполнения')
