extends /blocks/layout-default/layout-default
include /blocks/header/header

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	.container
		+header
		.case
			img(src="/assets/images/case.png" alt="Дело")
		form.form(action="")
			.form__group
				.form__input
					label.label(for="name") Полное ФИО
					.input__wrapper
						input.input(type="text" name="name" id="name" value="Высоцкий Даниил Никитич" autocomplete="off")
				.form__input
					label.label(for="birth") Год рождения
					.input__wrapper
						input.input(type="text" name="birth" id="birth" value="1988" autocomplete="off")
				.form__input
					label.label(for="live") Место жительства
					.input__wrapper
						input.input(type="text" name="live" id="live" value="г. Москва, Россия" autocomplete="off")
				.form__input
					label.label(for="skype") Скайп
					.input__wrapper
						input.input(type="text" name="skype" id="skype" value="cherezzabo" autocomplete="off")
				.form__input
					label.label(for="email") Почта
					.input__wrapper
						input.input(type="email" name="email" id="email" value="cherezzabo@gmail.com" autocomplete="off")
						
			.form__group
				h2.form__title Расскажите о себе чекбоксами
				p.form__text Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
				.form__checkbox-wrapper
					.form__checkbox-group
						.form__checkbox
							input(type="checkbox" id="bem" name="bem" hidden checked)
							label.label.label--checkbox(for="bem") БЭМ/OOCSS
						.form__checkbox
							input(type="checkbox" id="pug" name="pug" hidden checked)
							label.label.label--checkbox(for="pug") Pug (Jade)
						.form__checkbox
							input(type="checkbox" id="prepro" name="prepro" hidden checked)
							label.label.label--checkbox(for="prepro") Stylus/LESS/SASS
						.form__checkbox
							input(type="checkbox" id="svg" name="svg" hidden checked)
							label.label.label--checkbox(for="svg") Работаю с SVG
						.form__checkbox
							input(type="checkbox" id="semantics" name="semantics" hidden checked)
							label.label.label--checkbox(for="semantics") Верстаю семантично
						.form__checkbox
							input(type="checkbox" id="accessibility" name="accessibility" hidden checked)
							label.label.label--checkbox(for="accessibility") Accessibility (A11Y)
						.form__checkbox
							input(type="checkbox" id="es" name="es" hidden checked)
							label.label.label--checkbox(for="es") ES2015/ES2016
					.form__checkbox-group
						.form__checkbox
							input(type="checkbox" id="gulp" name="gulp" hidden checked)
							label.label.label--checkbox(for="gulp") Gulp/GRUNT
						.form__checkbox
							input(type="checkbox" id="webpack" name="webpack" hidden)
							label.label.label--checkbox(for="webpack") Webpack
						.form__checkbox
							input(type="checkbox" id="webgl" name="webgl" hidden)
							label.label.label--checkbox(for="webgl") Дружу с WebGL
						.form__checkbox
							input(type="checkbox" id="jq" name="jq" hidden checked)
							label.label.label--checkbox(for="jq") jQuery
						.form__checkbox
							input(type="checkbox" id="angular" name="angular" hidden)
							label.label.label--checkbox(for="angular") Знаю/изучаю Angular
						.form__checkbox
							input(type="checkbox" id="react" name="react" hidden)
							label.label.label--checkbox(for="react") Знаю/изучаю React
						.form__checkbox
							input(type="checkbox" id="nodejs" name="nodejs" hidden)
							label.label.label--checkbox(for="nodejs") Знаю/изучаю Node.js
					.form__checkbox-group
						.form__checkbox
							input(type="checkbox" id="vue" name="vue" hidden checked)
							label.label.label--checkbox(for="vue" style="color: #41B883") Изучаю Vue.js
						.form__checkbox
							input(type="checkbox" id="git" name="git" hidden checked)
							label.label.label--checkbox(for="git") Использую Git
						.form__checkbox
							input(type="checkbox" id="taste" name="taste" hidden checked)
							label.label.label--checkbox(for="taste") С глазомером всё ок
						.form__checkbox
							input(type="checkbox" id="blog" name="blog" hidden checked)
							label.label.label--checkbox(for="blog") Читаю #[a.link(href="http://blog.csssr.ru/") blog.csssr.ru]
						.form__checkbox
							input(type="checkbox" id="lazy" name="lazy" hidden)
							label.label.label--checkbox(for="lazy") Я ленивый(-ая)
						.form__checkbox
							input(type="checkbox" id="english" name="english" hidden checked)
							label.label.label--checkbox(for="english") У меня хороший английский
							
			.form__group
				h2.form__title Уровень владения JavaScript
				.form__range
					input(type="range" min="0" max="100" step="1" name="js-level" id="js-level" value="55")
					.range
						.range__handle
						.range__progress
						ul.range__labels
							li.range__point Не владею
							li.range__point Использую готовые решения
							li.range__point Использую готовые решения<br>и умею их переделывать
							li.range__point Пишу сложный JS
			
			.form__group
				h2.form__title Расскажите о себе словами
				p.form__text Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
				.form__textarea
					p.textarea(contenteditable="true") Прежде всего, меня впечатлил ваш сайт. Потом я заглянул в Console и отозвался на призыв. Ребята, которые так внимательны к деталям - не могут делать фигню. Я тоже не хочу делать фигню. Очень хотелось бы развиваться и перенимать опыт у ребят, которые знают, как делать красиво. =)<br><br>P.S. Автоматическое добавление строк решил средствами одного CSS и HTML. Но очень хотел бы посмотреть пример того, как это можно реализовать на JS.<br><br>P.S.S. Кстати, эта страница адаптивна. ;)
			
			.form__group
				h2.form__title Какие у вас планы на будущее?
				p.form__text Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
				.form__radio-group
					.form__radio
						input(type="radio" id="html" name="future" value="html" hidden)
						label.label.label--radio(for="html") Верстать
					.form__radio
						input(type="radio" id="js" name="future" value="js" hidden checked)
						label.label.label--radio(for="js") Прокачиваться в JS
					.form__radio
						input(type="radio" id="manager" name="future" value="manager" hidden)
						label.label.label--radio(for="manager") Менеджерство
					.form__radio
						input(type="radio" id="other" name="future" value="other" hidden)
						label.label.label--radio(for="other") Другое

				
			.form__date
				.form__input
					label.label(for="date") Дата заполнения
					.input__wrapper.input__wrapper--date
						input.input(type="text" name="date" id="date" value="26.07.2017")
