include /blocks/logo/logo

mixin header()
	+b.header&attributes(attributes)
		block
		+logo('/assets/images/logo.png', 'CSSSR logo')&attributes( {'styles': 'float:left;'} )
		img(src="/assets/images/secret.png" alt="Совершенно секретно" class="secret")
