.radio
	margin-bottom 10px
	& > input[type='radio']:checked + .label--radio::after
		position absolute
		top 4px
		left 7px
		width 20px
		height 20px
		sprite $radio_check
		content ''
.label
	&--radio
		display inline-block
		font-size 21px
		color #000
		padding-left 30px
		&::before
			content ''
			position absolute
			width 20px
			height 20px
			top -3px
			left 0
			sprite $radio
