.input
	display flex
	align-items flex-end
	&__wrapper
		flex 1
		position relative
		overflow-x hidden
		&::after
			content ''
			position absolute
			left 0
			bottom 0
			width 100%
			sprite $line
		&--date
			flex-grow 0
			min-width 210px
	&:not(:last-child)
		margin-bottom 2em
	&__field
		position relative
		padding-left 10px
		padding-bottom 5px
		background-color transparent
		border none
		width 100%
		font-family Courier New, sans-serif
		font-size 30px
		color not_black
